#calculadora form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

#calculadora input, #calculadora select {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#calculadora button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#calculadora button:hover {
    background-color: #45a049;
}
