body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Fondo claro */
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    max-width: 100px; /* Tamaño ajustado del logo */
}

.menu-icon {
    font-size: 24px;
    color: black;
    cursor: pointer;
}

/* Estilo para el formulario de contacto */
#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff; /* Fondo blanco para el contacto */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto; /* Centrando el contacto */
}

.info-contacto {
    margin-bottom: 20px;
    text-align: center; /* Centrando el texto */
}

.info-contacto a {
    color: #4CAF50; /* Color para los enlaces */
    text-decoration: none; /* Sin subrayado */
}

.info-contacto a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

#contacto form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contacto label {
    margin-bottom: 5px;
    font-weight: bold;
}

#contacto input, #contacto select, #contacto textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

#contacto button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#contacto button:hover {
    background-color: #45a049;
}

/* Estilo del menú lateral */
#sidebar {
    position: fixed;
    right: 0;
    top: 60px; /* Justo debajo del header */
    width: 200px;
    background-color: #0f1010; /* Fondo del menú */
    padding: 15px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    display: none; /* Inicialmente oculto */
}
