body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Fondo gris claro */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 50px; /* Ajustar el tamaño del logo */
}

nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

nav button {
    margin: 0 10px;
    padding: 10px 15px;
    cursor: pointer;
}

#contacto {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white; /* Fondo blanco para la sección de contacto */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-buttons a {
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white; /* Texto en blanco */
    font-weight: bold;
}

.whatsapp-button {
    background-color: #25D366; /* Color de WhatsApp */
}

.gmail-button {
    background-color: #DB4437; /* Color de Gmail */
}

.contact-buttons img {
    height: 20px; /* Tamaño del icono */
    margin-right: 10px; /* Espaciado entre el icono y el texto */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f4f4f4; /* Fondo gris claro */
}
