/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#logo {
    max-width: 100px; /* Ajusta el tamaño del logo */
    margin-bottom: 10px;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav button {
    margin: 0 10px;
    padding: 10px 15px;
    font-size: 16px;
}

main {
    padding: 20px;
}

.servicio {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
}
